<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
      <h1 class="title is-4"><%= @event.theme %></h1>
      <p><%= '@' + @event.venue %></p><br />
      <p><%= @event.details %></p><br />

      <p><small><%= "Start date: " + @event.event_start_date.strftime("%a, %b %-d, %Y") %></small></p>

      <p><small><%= "End date: " + @event.event_end_date.strftime("%a, %b %-d, %Y") %></small></p>

      <p><small><%= "Start time: " + @event.event_start_time.strftime("%I:%M %P") %></small></p>

      <p><strong><%= "End time: " + @event.event_end_time.strftime("%I:%M %P") %></strong></p>
      <br />
      
      <% if @event.creator == current_user%>
        <%= button_to "Invite", users_path, params: {:event_id => @event.id}, method: :get, class: "button is-info is-outlined is-fullwidth" %>
      <% else %>
        <% attendance = Attendance.find_by(event_id: @event.id, attendee_id: current_user.id) %>

        <% if attendance && attendance.attending? %>
          <%= button_to "Cancel", attendance_path(id: attendance.id, event_id: @event.id, attendee_id: current_user.id), method: :delete, class: "button is-info is-outlined is-fullwidth" %>
        <% else %>
          <%= button_to "Attend event", attendance_path(event_id: @event.id), method: :patch, class: "button is-info is-outlined is-fullwidth" %>
        <% end %>
      <% end %>
      <br />

      <% if current_user == @event.creator %>
      <%= link_to 'Edit', edit_event_path(@event), class: "button is-info is-outlined is-medium"%>
      <% end %>
      <%= link_to 'Back', events_path, class: "button is-info is-outlined is-medium" %> 
    </div>
  </div>
</div>