<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :theme %>
    <%= form.text_field :theme %>
  </div>

  <div class="field">
    <%= form.label :venue %>
    <%= form.text_field :venue %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="field">
    <%= form.label :event_start_date %>
    <%= form.date_select :event_start_date %>
  </div>

  <div class="field">
    <%= form.label :event_end_date %>
    <%= form.date_select :event_end_date %>
  </div>

  <div class="field">
    <%= form.label :event_start_time %>
    <%= form.time_select :event_start_time %>
  </div>

  <div class="field">
    <%= form.label :event_end_time %>
    <%= form.time_select :event_end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
