<div id="notice"><%= notice %></div>
<div class="media is-fullwidth">
  <figure class="image is-4by4" id="image">
   <%= image_tag('img/hero-bg.jpg')%>
  </figure>
</div>
<div class="banner-text">
    <h1 class="title is-5" style="font-size:5rem; color:white">
    Events
    </h1>
    <p style="font-size:1.5rem; color:white">
      Events management made easy! <br />Have your target audience, friends
      and <br />loved ones, invited to your events in <br />a more secured way.
      No spamming  <br />in any form. <%= link_to "Sign up today", new_user_registration_path, class: "button is-info is-outlined" %> 
    </p>
  </div>
<div class="section" id="section">
  <div class="container">
    <div class="columns">
      <div class="column" id="column">
        <% @events.each do |event| %>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= image_tag('img/events.jpg')%>
              </figure>
            </div>
            <div class="card-header">
              <p class="card-header-title has-text-centered">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span><%= + event.venue %></span>
              </p>
            </div>
            <div class="card-content">
              <div class="content">
                <i><p class="theme"><%= event.theme%></p></i><br />
                <p class="details"><%= link_to event.details.truncate_words(20), event_path(event) %></p><br />
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span class="event-info"><%= event.event_start_date.strftime('%a. %b %-d, %Y') %></span> -
                <span class="event-info"><%= event.event_end_date.strftime('%a. %b %-d, %Y') %></span><br /> 
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span class="event-info"><%= event.event_start_time.strftime("%I:%M %P") %></span> -
                <span class="event-info"><%= event.event_end_time.strftime("%I:%M %P") %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
        






